/* ein bisschen css, wo ich mit materialize nicht weiter komme... */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #EC6F66;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F3A183, #EC6F66);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F3A183, #EC6F66);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  padding: 1rem;
  flex: 1 0 auto;
}

.finished input[type="text"] {
  color: grey;
}

footer {
  padding: 2rem 0;
}

a.btn-small {
  margin: 1rem;
}

input::placeholder {
  color: darkslategrey;
}